/* Global Styles */
body {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #1e1e1e; /* Dark background */
    color: #d1d1d1; /* Light text */
}

/* Container Layout */
.container {
    display: flex;
    height: 100%;
}

/* Chat List Styles */
.chat-list {
    width: 25%;
    background-color: #252525; /* Darker background */
    border-right: 1px solid #333;
    overflow-y: auto;
}

.chat-list h2 {
    padding: 20px;
    margin: 0;
    font-weight: 400;
    color: #fff; /* White text */
    border-bottom: 1px solid #333;
}

#chat-history {
    list-style: none;
    padding: 0;
    margin: 0;
}

#chat-history li {
    padding: 15px 20px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

#chat-history li:hover {
    background-color: #333; /* Darker hover */
}

/* Chat Area Styles */
.chat-area {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-image: url('./img/background.png');
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
}

.chat-header img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.chat-header h1 {
    color: #fff;
    margin: 0;
    font-weight: 400;
    font-size: x-large;
}

/* Input Area Styles */
.input-area {
    display: flex;
    background-color: #1e1e1e;
}

#data {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    background-color: #444;
    color: #d1d1d1;
}

#data:focus {
    outline: none;
}

#send {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #25d366;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send:hover {
    background-color: #128c7e;
}

/* Send Button Icon */
#send img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}

#send:hover img {
    opacity: 0.8;
}

/* Messages Container */
.messages-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    overflow-y: auto;
}

.message {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 7.5px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.3);
}

.message.user {
    align-self: flex-end;
    background-color: #4caf50;
    color: #fff;
}

.message.other {
    align-self: flex-start;
    background-color: #444;
    color: #d1d1d1;
}

/* User Notifications */
#user-notifications {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.user-notification {
    background-color: #25d366;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
